* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "RobotoSlab-Medium";
  src: url("./font/RobotoSlab-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoSlab-Light";
  src: url("./font/RobotoSlab-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

p {
  font-family: "RobotoSlab-Light";
}

body,
button {
  font-family: "RobotoSlab-Medium";
}

.navbar {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar nav .items {
  list-style: none;
  display: flex;
}

.navbar nav .items .logo {
  height: 100px;
}

.navbar nav .items .item-link {
  padding: 20px 20px 20px 20px;
}

.navbar nav .items .item-link .link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px 0 20px;
}

.navbar nav .items .item-link:hover {
  background-color: black;
  color: #fff;
}

.navbar nav .items .item-link:hover .link {
  color: #fff;
}

main {
  padding-top: 104px;
}

.jumbotron-content {
  position: relative;
}

.jumbotron-content .buttons button {
  font-size: 15pt;
}

button {
  padding: 10px;
  background-color: #d54d29;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.bg-jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/14589.jpg");
  height: calc(100vh - 104px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

.contenido-jumbotron {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding-left: 20%;
  padding-right: 20%;
}

.contenido-jumbotron h2 {
  text-align: center;
  color: #fff;
  font-weight: 400;
  margin-bottom: 100px;
}

.contenido-jumbotron p {
  text-align: center;
  color: #fff;
  font-weight: 400;
  margin-bottom: 100px;
}

.jumbotron-content .buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

section.content {
  padding: 30px 30px 90px 30px;
}
section.content > header {
  padding: 60px;
}
section.content > header h1 {
  text-align: center;
  font-size: 25pt;
}
.grid-article {
  display: grid;
  grid-template-columns: repeat(3, 26%);
  /*grid-template-rows: repeat(3, 200px);*/
  justify-content: center;
  grid-gap: 3rem;
}

.card-header h1 {
  text-align: center;
  font-size: 18pt;
  margin-bottom: 15px;
}

.card-body img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
}

.card-body .description {
  text-align: justify;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-footer {
  justify-content: center;
  display: flex;
}
.card-footer button {
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 26%);
  /*grid-template-rows: repeat(3, 200px);*/
  justify-content: center;
  grid-gap: 3rem;
  padding: 50px 0 50px 0;
  background-color: #803b36;
  color: #c9d1d9;
}

.footer h2 {
  text-align: center;
  margin-bottom: 30px;
}

.footer .social-media ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 50px;
}

.footer .social-media li a img {
  width: 50px;
}

@media only screen and (max-width: 1191px) {
  .jumbotron {
    background-size: contain;
    height: auto;
    padding: 37%;
  }
}
